:root{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: #bdf4ff;
}

*,*::before,*::after{
    box-sizing: border-box;
}   

body{
    background: linear-gradient(to right, #4b3e7a, #1313b4, #1313b4, #040c39);
}

.my-container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inside-container{
   margin: 0 2rem;
}

.universal-heading{
    font-size: 1.9rem;
    font-weight: 500;
    color: #bdf4ff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.universal-paragraph{
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #bdf4ff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.form-header-color{
    margin-top: 25px;
    font-size: 0.6rem;
    font-weight: 400;
    color: #bdf4ff;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Director */
.card{
    background: linear-gradient(to right, #5e2a3a, #1313b4, #040c39);
}
.card-body{
    color: #bdf4ff;
}

.card-title a{
    text-decoration: none;
    color: #bdf4ff;
}

.card-title a:hover{
    color: red;
    cursor: pointer;
} 
.card-text{
    color: #bdf4ff;
}

/* Forms */
.my-form-item{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    flex-grow: 1;
    flex-basis: 0;
}

.my-form-item>label{
    font-size: 1.2rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
}
.my-form-item input, .my-form-item textarea{
    height: 2rem;
    padding: .25rem .25rem;
    margin-top: 0.5rem;
    border-radius: .25rem;
    border: 1px solid #4d26d9;
    background-color: #13136c;
    color: #bdf4ff;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
}
.my-form-item textarea{
    height: 10rem;
    width: auto;
    resize: none;
}

.my-form-item input:focus, .my-form-item textarea:focus{
    border-color: 1px solid #9999ff;
}

/*Buttons*/
.my-btn-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.my-btn-row>*{
    margin-left: 1rem;
}
